.leftSideBar {
  -fx-background-color: #e74141;
}

.loginTextField {
  -fx-background-radius: 20px;
}

.loginButton {
  -fx-background-radius: 20px;
  -fx-background-color: #e74141;
}

#rememberMe:selected .mark {
  -fx-background-color: #fff;
}

#rememberMe:selected .box {
  -fx-background-color: #e74141;
}

.subLogin {
  -fx-background-color: #e74141;
  -fx-background-radius: 20px;
}

.signupButton {
  -fx-background-color: transparent;
  -fx-background-radius: 20px;
  -fx-border-color: white;
  -fx-border-radius: 20px;
  -fx-border-width: 2px;
}

.checked {
  -fx-border-width: 2px;
  -fx-border-radius: 20px;
  -fx-border-color: #76ff76;
}

.notChecked {
  -fx-border-width: 2px;
  -fx-border-radius: 20px;
  -fx-border-color: red;
}

.transparent-scroll-pane {
  -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.form-label {
  -fx-font-family: "Outfit Medium";
  -fx-font-size: 14px;
}

.form-field {
  -fx-pref-height: 35px;
  -fx-max-width: Infinity;
}

.profile-image {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
  -fx-background-radius: 50%;
}

.import-button {
  -fx-background-radius: 20;
}
