.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .2px .2px .4px;

}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

.close:hover {
    -fx-background-color: #e74141;
}

.minus {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minus:hover {
    -fx-background-color: #dadada;
}

.nav-form {
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;

}

.nav-btn:hover {
    -fx-background-color: #ae2d3c;
}

.signout {
    -fx-background-color: #ae2d3c;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.signout:hover {
    -fx-background-color: #d62651;
}

.bg-white {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .3), 8, 0, 0, 0);
    -fx-background-radius: 8px;
}

.bg-white:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 8, 0, 0, 0)
}


.instert-btn {
    -fx-background-color: #ae2d3c;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.instert-btn:hover {
    -fx-background-color: #d62651;
}

.table-view {
    -fx-background-color: #fff;
    -fx-size: 15;
    -fx-border-color: #ae2d3c;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-fill: #fff;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to top left, #1e242e, #ae2d3c);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10px 0px 0px 0px;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 50px;
    -fx-fill: #fff;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
}

.btn-reserver {
    -fx-background-color: #000000;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;

}

.btn-reserver:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 8, 0, 0, 0)

}

.scroll-pane {
    -fx-background-color: transparent; /* Transparent background */
    -fx-background: transparent; /* Additional transparency */
    -fx-background-insets: 0; /* Remove any insets */
    -fx-padding: 0; /* Remove any padding */
}

.scroll-pane .scroll-bar {
    -fx-padding: 2px; /* Adjust the padding to make the scroll bar smaller */
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #B52F3E; /* Initial color for the thumb */
    -fx-background-radius: 4px; /* Adjust the radius to make it smaller */

}

/* Hover effect */
.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #ff3333; /* Color when hovered */
}

/* Color gradient when pressed */
.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #cc0000; /* Color when pressed */
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background for vertical scroll bar */
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background for horizontal scroll bar */
}

.btn-reserver:pressed {
    -fx-background-color: #d01313; /* Change the color when pressed */
}

.tab-pane .tab {
    -fx-background-insets: 0;
    -fx-padding: 0 10px;
}

.tab-pane .tab:selected .tab-label {
    -fx-background-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: transparent;
}

.tab-pane .tab:selected .tab-label {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-border-width: 0;
}

.tab-pane .headers-region {
    -fx-padding: 0;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-color: transparent;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-background-color: transparent;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-background-insets: 0;
}

.tab-pane .tab-header-area {
    -fx-border-color: transparent;
}

.sale {
    -fx-padding: 8 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #b71111 0%, #911010 100%),
    #962222,
    #d73535,
    radial-gradient(center 50% 50%, radius 100%, #e03f3f, #b42828);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.sale:hover {

    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a11212 0%, #851111 100),
    #962121,
    #de3838,
    radial-gradient(center 50% 50%, radius 100%, #e54444, #c52828);
}

.sale:pressed {
    -fx-padding: 10 15 13;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;

}


.anchorfilm {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .3), 8, 0, 0, 0);
    -fx-background-radius: 8px;
    -fx-border-color: linear-gradient(to top left, #1e242e, #ae2d3c);
}

.anchorfilm:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 8, 0, 0, 0)
}

.anchorfilm .image-view {
    -fx-shape: "M 0 0 L 0 10 L 10 0 Z";
}

.meilleurproduit {
    -fx-background-color: linear-gradient(to top right, #9B9595, #ae2d3c);

    -fx-border-color: transparent; /* Make the border transparent */
}

/* Custom style for the check combobox */
.check-combobox .combo-box .list-cell {
    -fx-background-color: #AE2D3C; /* Set the background color */
    -fx-text-fill: white; /* Set the text color */
}

.check-combobox .arrow-button {
    -fx-background-color: #AE2D3C; /* Set the arrow button color */
    -fx-background-insets: 0;
}

.check-combobox .arrow-button:hover {
    -fx-background-color: #D62651; /* Change arrow button color on hover */
}

.check-combobox .arrow-button:pressed {
    -fx-background-color: #AE2D3C; /* Change arrow button color when pressed */
}

.check-combobox .list-cell:odd {
    -fx-background-color: #FFFFFF; /* Set odd rows background color */
}

.check-combobox .list-cell:even {
    -fx-background-color: #F0F0F0; /* Set even rows background color */
}

.labeltext {
    -fx-text-fill: black;
    -fx-alignment: center;
}